<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{'MY_MATCHES' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
<ion-slides>
    <ion-slide>
        <div class="titolo">
            <b>{{'MATCHES_TO_PLAY' | translate}}
                <div class="icona">
                    <ion-icon name="arrow-dropright"></ion-icon>
                </div></b>
        </div>

        <ion-list>
        <ion-card class="back cards " *ngFor="let r of miepartite$ | async">
            <ion-card-header>
                <ion-card-title class="text-dark">
                    <ion-icon name="clipboard"></ion-icon>
                    {{r.titolo}}
                    </ion-card-title>
                    <ion-card-subtitle>
                    </ion-card-subtitle>
                     </ion-card-header>
                     <ion-card-content>
                         <ion-icon name="calendar" icon="left"></ion-icon>
                         {{(r.data_ora| date:'dd/MM/yyyy')}}
                         <ion-icon name="time" class="ion-padding-start"></ion-icon>
                         {{r.data_ora|date: 'HH:mm'}}
                         <ion-icon name="globe" class="ion-padding-start"></ion-icon>
                         {{r.luogo}}
                         <ion-item-divider class="ion-no-margin ion-no-padding"></ion-item-divider>
                         <ion-row class="ion-no-padding">
                             <ion-col class="ion-text-left ion-padding-start=30px">
                                 <ion-icon name="person" class="ion-float-start ion-margin-end"></ion-icon>
                                 {{"   " + r.organizzatore.id.name + " " }}
                             </ion-col>
                         </ion-row>
                     </ion-card-content>
        </ion-card>
        </ion-list>
    </ion-slide>

    <ion-slide>
                    <div class="titolo">
                        <b>{{'MATCHES_ENDED' | translate}}
                            <div class="icona">
                                <ion-icon name="arrow-dropleft"></ion-icon>
                            </div></b>
                    </div>

                    <ion-list>
                        <ion-card class="back cards " *ngFor="let r of terminate$ | async">
                            <ion-card-header>
                                <ion-card-title class="text-dark">
                                    <ion-icon name="clipboard"></ion-icon>
                                    {{r.titolo}}
                                </ion-card-title>
                                <ion-card-subtitle>
                                </ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-icon name="calendar" icon="left"></ion-icon>
                                {{(r.data_ora| date:'dd/MM/yyyy')}}
                                <ion-icon name="time" class="ion-padding-start"></ion-icon>
                                {{r.data_ora|date: 'HH:mm'}}
                                <ion-icon name="globe" class="ion-padding-start"></ion-icon>
                                {{r.luogo}}
                                <ion-item-divider class="ion-no-margin ion-no-padding"></ion-item-divider>
                                <ion-row class="ion-no-padding">
                                    <ion-col class="ion-text-left ion-padding-start=30px">
                                        <ion-icon name="person" class="ion-float-start ion-margin-end"></ion-icon>
                                        {{"   " + r.organizzatore.id + " " }}
                                        <ion-button class="ion-float-end bordo" expand="full" shape="round" color="primary"
                                                    size="small"
                                                    [routerLink]="['/giocatori', r.id]" routerDirection="forward">
                                            <ion-icon slot="start" name='create'></ion-icon>
                                            <b> {{'LASCIA_FEEDBACK' | translate}}</b>
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-list>
                </ion-slide>
    </ion-slides>
</ion-content>
