:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}
ion-card {
    border: 1px solid darkred;
    border-radius: 10px;
}
.swiper-slide {
    display: block;
    color: #800517;

}
ion-slide > h2 {
    margin-top: 1.2rem;
}
ion-slide > img {
    max-height: 50%;
    max-width: 60%;
    margin-top: 40px;

}

.icona {
    color: #800517;
    font-size: 25px;
}
.titolo {
    font-size: 22px;
    margin-top: 20px;
}
