<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{'MY_MATCHES' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>


    <ion-content>
        <ion-slides>

            <ion-slide>
                <div class="titolo">
                <b>{{'MATCHES_TO_PLAY' | translate}}
                    <div class="icona">
                        <ion-icon name="arrow-dropright"></ion-icon>
                    </div>
                </b>
                </div>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title color="dark"> Titolo3</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Descrizione3
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title color="dark"> Titolo4</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Descrizione4
                    </ion-card-content>
                </ion-card>
            </ion-slide>

            <ion-slide>
                <div class="titolo">
                <b>{{'MATCHES_ENDED' | translate}}
                    <div class="icona">
                        <ion-icon name="arrow-dropleft"></ion-icon>
                    </div>
                </b>
                </div>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title color="dark"> Titolo</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Descrizione
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title color="dark"> Titolo2</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Descrizione2
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title color="dark"> Titolo3</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Descrizione3
                    </ion-card-content>
                </ion-card>
            </ion-slide>


        </ion-slides>
    </ion-content>


