// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #800517; //#E42A0B;

  /** secondary **/
  --ion-color-secondary: #fafcf6;

  /** tertiary **/
  --ion-color-tertiary: #119711;

  /** quarter **/
  --ion-color-quarter: #00BFFF;

  /** quainter **/
  --ion-color-quainter: #F0F8FF;

  /** sistered**/
  --ion-color-sistered: #6A5ACD;

  /** severed **/
  --ion-color-severed: #008B8B;

  /** success **/
  --ion-color-success: #10dc60;

  /** warning **/
  --ion-color-warning: #f0a70f;


  /** danger **/
  --ion-color-danger: #f04141;


  /** dark **/
  --ion-color-dark: #222428;

  /** medium **/
  --ion-color-medium: #989aa2;


  /** light **/
  --ion-color-light: #008B8B; //f4f5f8


}
