:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}
ion-card {
    border: 1px solid darkred;
    border-radius: 10px;
}
.swiper-slide {
    display: block;
    color: #800517;

}
.back_cards{
     font-weight: bold
 }
ion-slide > h2 {
    margin-top: 1.2rem;
}
ion-slide > img {
    max-height: 50%;
    max-width: 60%;
    margin-top: 40px;

}
.text-dark{
    color: #4863A0;
}
.icona {
    color: #4863A0;
    font-size: 25px;
}
.titolo {
    font-size: 22px;
    margin-top: 20px;
    color: #4863A0;
}

ion-card {
    border: 1px solid #4863A0;
    border-radius: 10px;
    font-size: 45px;
    //--background: url(/../../../assets/images/background.jpg) 0 0/100% 100% no-repeat ;
    // opacity: 0.5;
}

