<ion-header>
  <ion-toolbar color="primary">
    <ion-title class ="ion-text-center">{{'REGISTRATION_PAGE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  class="animated fadeIn login auth-page ion-padding">

  <div class="theme-bg"></div>
  <div class="auth-content">


    <!-- Logo-->
  <div class="animated fadeInDown ion-padding-horizontal">
    <div class="logoR"></div>
  </div>
  </div>



  <!-- SignUpForm -->
  <form [formGroup]="signUpFormModel" class="list-form">
  <ion-item class="text08">
   <ion-icon name="person" class="ion-padding-end ion-align-items-start" ></ion-icon>
    <ion-input  placeholder="Nome" class="ion-padding-start"   formControlName="nome"></ion-input>
  </ion-item>

  <ion-item class="text08">
    <ion-icon name="person" class="ion-padding-end ion-align-items-start" ></ion-icon>
    <ion-input  placeholder="Cognome" formControlName="cognome"></ion-input>
  </ion-item>


  <ion-item class="text08">
    <ion-icon name="at" class="ion-padding-end" ></ion-icon>
    <ion-input  placeholder="Email" formControlName="email"></ion-input>
  </ion-item>

  <ion-item class="text08">
    <ion-icon name="lock" class="ion-padding-end ion-align-items-start"></ion-icon>
    <ion-input  type="password" placeholder="Password" class="ion-padding-start"  formControlName="password"></ion-input>
  </ion-item>

    <ion-item class="text08">
      <ion-icon name="call" class="ion-padding-end ion-align-items-start" ></ion-icon>
      <ion-input  placeholder="Telefono" class="ion-padding-start"  formControlName="numero_telefonico"></ion-input>
    </ion-item>

  <ion-list>
    <ion-item>
      <ion-label>{{'FAV_ROLE' | translate}}</ion-label>
      <ion-select placeholder="{{'SELECT' | translate}}" (ionChange)="changeL($event)" formControlName="ruolo">
        <ion-select-option value="palleggiatore">{{'PALLEGGIATORE' | translate}}</ion-select-option>
        <ion-select-option value="libero">{{'LIBERO' | translate}}</ion-select-option>
        <ion-select-option value="martello">{{'MARTELLO' | translate}}</ion-select-option>
        <ion-select-option value="centrale">{{'CENTRALE' | translate}}</ion-select-option>
        <ion-select-option value="opposto">{{'OPPOSTO' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="ion-margin-top" >
    <ion-button icon-left size="medium" expand="full" shape="round" color="tertiary" (click)="onRegistrazione()"  [disabled]="!signUpFormModel.valid" tappable>
      <ion-icon name="done-all" class="ion-padding-end" ></ion-icon>
      {{ 'CONFIRM_REGISTRATION_BUTTON' | translate }}
    </ion-button>
  </div>

  <div class="ion-margin-top">
    <ion-button icon-left size="medium" expand="full" shape="round" color="primary" (click)="onLogin()"  tappable>
      <ion-icon name="log-in"  class="ion-padding-end" ></ion-icon>
      {{ 'LOGIN_BUTTON' | translate }}
    </ion-button>
  </div>
  </form>
</ion-content>
