<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">{{'DETAIL_PAGE' | translate}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/home" icon="arrow-round-back"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-title class="text-dark"> Titolo: </ion-card-title>
        </ion-card-header>
        <ion-card-content class="dett">

            <b>Descrizione:</b> {{" "+ partita.descrizione +  ""}}
        <br>
            <br>
            <b>Numero giocatori richiesti:</b> {{" " + partita.numero_giocatori + " "}}
        <br>
            <br>
            <b>Luogo:</b> {{" "+ partita.luogo +" "}}
        </ion-card-content>
    </ion-card>


    <div class="dettagli" >
        <ion-button *ngIf="partita.numero_giocatori > 0 " icon-left size="medium" expand="full" shape="round" color="primary" (click)="onPartecipa()"  tappable>
            <ion-icon name="heart"></ion-icon>
            Partecipa
        </ion-button>
    </div>

    <div class="ion-margin-top=">
        <ion-button *ngIf="partita.numero_giocatori <= 0 " icon-left size="medium" expand="full" shape="round" color="primary"   disabled>
            <ion-icon ></ion-icon>
            Rimuovi partecipazione
        </ion-button>
    </div>


</ion-content>

