<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>FEEDBACK</ion-title>

    <ion-button slot="end"  size="small"
                (click)="chiudiModal()">
      <ion-icon name='close'></ion-icon>
    </ion-button>




  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="this.giaVotato<=0">
    <form [formGroup]="votazioneFormModel" class="list-form">
      <ion-item class="text08">
        <ion-icon name="quote" class="ion-padding-end ion-align-items-start ion-no-margin" ></ion-icon>
        <ion-textarea  placeholder="Commento (opzionale)" class="ion-padding-start"   formControlName="commento"></ion-textarea>
      </ion-item>

      <ion-item class="text08">
        <ion-icon name="ribbon" class="ion-padding-end ion-align-items-start" ></ion-icon>

        <div class="ion-text-center" >
          <ion-icon name="star" color="{{color.color1}}"  class="larger" (click)="starUno($event)"></ion-icon>
          <ion-icon name="star" color="{{color.color2}}"  class="larger" (click)="starDue($event)"></ion-icon>
          <ion-icon name="star" color="{{color.color3}}" class="larger" (click)="starTre($event)"></ion-icon>
          <ion-icon name="star" color="{{color.color4}}" class="larger" (click)="starQuattro($event)"></ion-icon>
          <ion-icon name="star" color="{{color.color5}}" class="larger" (click)="starCinque($event)"></ion-icon>
        </div>

      </ion-item>




      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button class="bordo ion-margin " shape="round" color="primary" expand="block" (click)="vota()"
                      size="small"  type="submit" [disabled]="color.color1=='' && color.color2=='' && color.color3=='' && color.color4=='' && color.color5==''">
            <ion-icon slot="start" name='medal'></ion-icon>
            <b> VOTA</b>
          </ion-button>
          <ion-button class="bordo ion-margin " shape="round" color="primary" expand="block"
                      size="small"  type="submit" (click)="reset()">
            <ion-icon slot="start" name='medal'></ion-icon>
            <b>ANNULLA</b>
          </ion-button>
        </ion-col>

      </ion-row>

    </form>
  </div>

  <div *ngIf="feedback as f">
    <form [formGroup]="votazioneFormModel" class="list-form">
      <ion-item class="text08">
        <ion-icon name="quote" class="ion-padding-end ion-align-items-start ion-no-margin" ></ion-icon>
        <ion-label *ngIf="f.commento!= 'null'"class="ion-padding-start text-dark" >{{f.commento}}</ion-label>
        <ion-label *ngIf="f.commento == 'null'" class="ion-padding-start"  ></ion-label>
      </ion-item>

      <ion-item class="text08">
        <ion-icon name="ribbon" class="ion-padding-end ion-align-items-start" ></ion-icon>

        <div class="ion-text-center" >
          <ion-icon class="larger"*ngIf="f.voto>1||f.voto==1" name="star" color="primary"></ion-icon>
          <ion-icon class="larger"*ngIf="f.voto>2||f.voto==2" name="star" color="primary"></ion-icon>
          <ion-icon class="larger"*ngIf="f.voto>3||f.voto==3" name="star" color="primary"></ion-icon>
          <ion-icon class="larger"*ngIf="f.voto>4||f.voto==4" name="star" color="primary"></ion-icon>
          <ion-icon class="larger" *ngIf="f.voto>5||f.voto==5" name="star" color="primary"></ion-icon>
        </div>
      </ion-item>
    </form>
    <ion-grid>
      <ion-row class="ion-margin">
        <ion-text class="text-dark ion-margin ion-text-center">
          <b>VOTATO_GIA</b>
        </ion-text>
      </ion-row>
    </ion-grid>


  </div>
</ion-content>
